@import url("https://fonts.googleapis.com/css2?family=Jost&family=Press+Start+2P&family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Jost", sans-serif;
  background-color: #a0a0a0;
}

nav {
  background: #fff;
  width: 100%;
  text-align: center;
  height: 8vh;
}

label.logo a {
  color: #000;
  letter-spacing: 5px;
  font-size: 25px;
  line-height: 8vh;
  text-transform: uppercase;
  font-weight: bold;
}

section {
  margin: 4vh 3.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  padding: 4vh;
  cursor: pointer;
  box-shadow: rgb(42, 42, 42) 15px 20px 18px;
  margin: 0 2vh;
  text-align: center;
  border-radius: 20px;
  background: white;
}

.form h1 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #000;
}

.form:hover, .form:active {
  scale: 1.08;
  transition: ease-in-out 0.3s;
  background: linear-gradient(
    45deg,
    rgba(255, 0, 0, 0.6),
    rgba(0, 255, 0, 0.6),
    rgba(0, 0, 255, 0.6)
  );
  background-size: 500% 100%;
  animation: back 1s alternate infinite;
}

@keyframes back {
  0% {
    background-position-x: 0%;
  }

  25% {
    background-position-x: 25%;
  }

  50% {
    background-position-x: 50%;
  }

  75% {
    background-position-x: 75%;
  }
  100% {
    background-position-x: 100%;
  }
}
