@import url("https://fonts.googleapis.com/css2?family=Jost&family=Press+Start+2P&family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Jost", sans-serif;
  background-color: #a0a0a0;
}

nav {
  background: #fff;
  width: 100%;
  text-align: center;
  height: 8vh;
}

label.logo a {
  color: #000;
  letter-spacing: 5px;
  font-size: 25px;
  line-height: 8vh;
  text-transform: uppercase;
  font-weight: bold;
}

.convert {
  margin: 4vh 3.5vh;
  border-radius: 15px;
  background: #fff;
  box-shadow: rgb(42, 42, 42) 15px 20px 18px;
  padding: 5vh;
}

.convert h1.tittle {
  text-align: center;
  font-size: 2rem;
  margin: 5px 20px;
  font-weight: normal;
}

.input {
  margin: 20px 0;
}

.action,
.input {
  text-align: center;
}

label.nameVlr {
  display: block;
  margin: 15px 0 0 0;
  font-size: 18px;
}

input.result {
  width: 90%;
  padding: 15px;
  border: none;
  border-bottom: 2px rgba(0, 0, 0, 0.4) solid;
  background: transparent;
  text-align: center;
  font-size: 1rem;
  outline: none;
  color: #000;
}

input.result:focus {
  border-bottom: 2px rgb(78, 130, 226) solid;
}

.action input {
  border-radius: 20px;
  width: 18vw;
  cursor: pointer;
  margin: 4vh 1vh 0 1vh;
  padding: 12px;
  border: none;
  text-align: center;
  font-size: 1rem;
  outline: none;
  color: #000;
}

#calcular {
  background: rgba(0, 250, 0, 0.5);
}

#calcular:hover {
  background: rgba(0, 250, 0, 0.7);
  transition: 0.3s;
}

#reset {
  background: rgba(250, 0, 0, 0.5);
}
#reset:hover {
  background: rgba(250, 0, 0, 0.7);
  transition: 0.3s;
}
